argparse
psutil
pyinstaller

# 获取操作系统的包
distro
wmi
# draw tool
matplotlib

# pdf tool
PyPDF2

# pip
# -i https://pypi.tuna.tsinghua.edu.cn/simple
# -i https://pypi.mirrors.ustc.edu.cn/simple
# -i http://pypi.douban.com/simple/
# -i http://mirrors.aliyun.com/pypi/simple/